node_modules
.env

cards_formated.json
cards.json
format_card_json.js
format_cards.js
format_user.js

parseOldDatabase.js
stressTest.js
TODO.txt

transferUsers.js



package-lock.json

cards_5_5_2023.json
cards_5_5_2023_formated.json

users_5_5_2023.json
users_7_5_2023.json
users_8_5_2023.json